
.pin-container1 {
  column-gap: 1em;
}

@media only screen and (min-width: 1024px) {
  .pin-container1 {
    column-count: 4;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .pin-container1 {
    column-count: 3;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .pin-container1 {
    column-count: 2;
  }
}
